* {
	margin: 0;
	padding: 0;
}
.header {
	height: 100vh;
	background: url('rio2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
h1 {
	text-align: center;
	background: rgba(255,255,255,0.60);
	text-transform: uppercase;
	margin-top: 250px;
}
